body {
  margin: 0;
  padding: 0; }

header > div {
  background: #ffffff;
  width: 100%;
  height: 61px;
  border-bottom: 1px solid #e5e5e5;
  padding: 12px 0;
  position: fixed !important;
  top: 0;
  z-index: 9999; }
  header > div .msgInfo i {
    font-size: 30px; }
  header > div img {
    width: 170px; }

.main-wrapper .left-wrapper {
  position: fixed;
  top: 61px;
  width: 100%;
  height: 100%; }
  .main-wrapper .left-wrapper .left {
    background: #f08200;
    width: 50px;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    height: 100%; }
    .main-wrapper .left-wrapper .left ul li a {
      padding: 15px 0;
      width: 50px;
      display: inline-block;
      color: #ffffff;
      background: #f08200; }
      .main-wrapper .left-wrapper .left ul li a i {
        font-size: 23px; }
    .main-wrapper .left-wrapper .left ul li.active a {
      background: #f8f8f8; }
      .main-wrapper .left-wrapper .left ul li.active a i {
        color: #f08200; }
  .main-wrapper .left-wrapper .right {
    position: relative;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    width: 200px;
    background: #f8f8f8;
    border-right: 1px solid #e5e5e5;
    margin-left: -3px; }
    .main-wrapper .left-wrapper .right > i {
      position: absolute;
      right: 10px;
      top: 10px;
      color: #f08200;
      font-size: 20px;
      cursor: pointer;
      z-index: 9999; }
    .main-wrapper .left-wrapper .right .list-group-item {
      background-color: transparent;
      border: none; }
      .main-wrapper .left-wrapper .right .list-group-item:first-child {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px; }
    .main-wrapper .left-wrapper .right .menus {
      margin-top: 40px; }
      .main-wrapper .left-wrapper .right .menus .topMenu {
        margin: 20px 0; }
        .main-wrapper .left-wrapper .right .menus .topMenu > a {
          color: #333333; }
        .main-wrapper .left-wrapper .right .menus .topMenu .childMenu {
          margin-left: 20px; }
          .main-wrapper .left-wrapper .right .menus .topMenu .childMenu li {
            list-style-type: disc;
            margin: 20px 0;
            color: #999999; }
          .main-wrapper .left-wrapper .right .menus .topMenu .childMenu li.active {
            color: #f08200; }
            .main-wrapper .left-wrapper .right .menus .topMenu .childMenu li.active a {
              color: #f08200; }

.main-wrapper .content-wrapper {
  position: absolute;
  left: 270px;
  right: 20px;
  top: 75px; }
  .main-wrapper .content-wrapper .table-wrapper .operate-pane {
    margin: 20px 0;
    border: 1px solid #e5e5e5;
    padding: 20px 30px; }
    .main-wrapper .content-wrapper .table-wrapper .operate-pane .group {
      display: inline-block;
      margin: 15px 10px 0 0; }
      .main-wrapper .content-wrapper .table-wrapper .operate-pane .group label {
        width: 70px;
        text-align: right; }
      .main-wrapper .content-wrapper .table-wrapper .operate-pane .group .controls {
        display: inline-block; }
        .main-wrapper .content-wrapper .table-wrapper .operate-pane .group .controls select, .main-wrapper .content-wrapper .table-wrapper .operate-pane .group .controls input {
          width: 210px;
          border: 1px solid #e5e5e5;
          padding: 6px 0 6px 10px;
          color: #999; }
        .main-wrapper .content-wrapper .table-wrapper .operate-pane .group .controls input {
          padding: 8px 0 8px 10px; }
