
$borderBottom : #e5e5e5;
$mainBackground : #f08200;
$bgs: #f8f8f8;

body{
  margin:0;
  padding:0;
}
//顶部
header{
   > div{
     background: #ffffff;
     width:100%;
     height:61px;
     border-bottom:1px solid $borderBottom;
     padding:12px 0;
     position: fixed !important;
     top: 0;
     z-index: 9999;
     .msgInfo{
       i{
         font-size:30px;
         color: $mainBackground;
       }
     }
    img{
      width:170px;
    }
  }
}
//内容
.main-wrapper{
  .left-wrapper{
    position: fixed;
    top:61px;
    width: 100%;
    height:100%;
    .left{
      background: $mainBackground;
      width:50px;
      text-align: center;
      vertical-align: top;
      display: inline-block;
      height:100%;
      ul{
        li{
          //margin:10px 0;
          a{
            padding:15px 0;
            width:50px;
            display: inline-block;
            color: #ffffff;
            background: $mainBackground;
            i{
              font-size:23px;
            }
          }
        }
        li.active{
          a{
            background: $bgs;
            i{
              color: $mainBackground;
            }
          }
        }
      }
    }
    .right{
      position: relative;
      display: inline-block;
      height:100%;
      vertical-align: top;
      width: 200px;
      background: $bgs;
      border-right: 1px solid $borderBottom;
      margin-left: -3px;
      > i{
        position: absolute;
        right: 10px;
        top:10px;
        color: $mainBackground;
        font-size: 22px;
        cursor: pointer;
        z-index: 9999;
      }
      .list-group-item{
         background-color: transparent;
         border: none;
        &:first-child{
          border-top-right-radius:0px;
          border-top-left-radius:0px;
        }
      }
      .menus{
        margin-top: 40px;
        //padding: 0 20px;
        .topMenu{
          margin: 20px 0;
          > a{
            color: #333333;
          }
          .childMenu{
            margin-left: 20px;
            li{
              list-style-type: disc;
              margin: 20px 0;
              color: #999999;
            }
            li.active{
              color: $mainBackground;
              a{
                color: $mainBackground;
              }
            }
          }
        }
      }
    }
  }
  .content-wrapper{
    position: absolute;
    left: 270px;
    right: 20px;
    top: 75px;
    .table-wrapper{
      .operate-pane{
        margin: 20px 0;
        border:1px solid $borderBottom;
        padding:20px 30px;
        .group{
          display: inline-block;
          margin: 15px 10px 0 0;
          label{
            width:70px;
            text-align: right;
          }
          .controls{
            display: inline-block;
            select,input{
              width: 210px;
              border:1px solid $borderBottom;
              padding:6px 0 6px 10px;
              color: #999;
              height:35px;
              line-height:35px;
            }
            input{
              padding:8px 0 8px 10px;
            }
          }
        }
      }
    }
  }
}
